body{background-color: #efeff4 }
svg{position: absolute;border:1px solid #e6e6e6;width: 300px;height: 200px;top: 0;left: 0;bottom: 0;right: 0;margin: auto;background: #FFFFFF}
input[type='number']{width: 50px}

